* {
    font-family: 'Comfortaa', cursive;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #222, #888);
    background-position-y: top;
    grid-template-rows: calc(100vh - 100vh / 8) calc(100vh / 8);
    margin: 0;
    margin-top: calc(100vh / 8);
    margin-bottom: 0;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto;
    margin: auto;
    width: 100vw;
}

.center {
    display: flex;
    margin-bottom: calc(100vh / 8);
}

.text {
    margin-left: 12vw;
    bottom: 0;
    padding: 2vh 0;
}


footer {
    background-color: #222;
    grid-row: 2;
}

footer p {
    margin: 0;
    margin-left: calc(100vw / 5);
    line-height: calc(100vh / 8);
}

h1 {
    font-size: 10vw;
    margin: 0;
}

h2 {
    position: relative;
    font-size: 2vw;
    margin: 0;
}

.arrow {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.arrow > img {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    width: 8vw;
}

.arrow > img:hover {
    transform: scale(1.25);
}

.selector_container {
    padding: 5%;
    margin-top: 0;
    margin-bottom: 0;
    background: #222;
    border-radius: 80px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.selector_container > div {
    height: 12vw;
    border-radius: 6vw;
    flex-shrink: 1;
    background: radial-gradient(#fff calc(1.5vw - 1px), #888 1.5vw);
    width: 12vw;
    transition: width 0.5s;
    text-indent: 100%;
}

.selector_container > div:nth-child(1) {
    background: #888;
    width: 30vw;
    text-indent: 0%;
    color: white;
}

h3 {
    text-align: center;
    /* padding: 45px 0; */
    margin: 0;
    font-size: 5vw;
    line-height: 12vw;
    white-space: nowrap;
    overflow: hidden;
}

a {
    color: white;
    transition: 0.25s;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #f80;
}

a:active {
    color: #08f;
}