/* overall stuff */
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Comfortaa', cursive;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FFA959;
    transition: 0.25s;
}

.text {
    /* height: calc(5em + 10vw); */
    position: relative;
}

.text h1 {
    font-size: 5em;
    margin: 0;
    /* position: absolute; */
    text-align: center;
    width: 100%;
    bottom: 0;
}

body {
    background: linear-gradient(to top, #B3641B, #40D8FF);
    display: flex;
    flex-direction: column;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.left {
    display: flex;
    flex-direction: column;
    width: calc(40vw * 0.96);
}

.middle {
    display: flex;
    flex-direction: column;
    width: calc(40vw * 0.96);
}

.right {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

/* title */
.title {
    display: grid;
}

.title .words {
    margin: auto;
    margin-top: 3vh;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    border-radius: 40px;
    padding: 2%;
    text-align: center;
}

.title h1 {
    font-size: 10em;
    margin: 0;
}

.title h2 {
    font-size: 2em;
    margin: 0;
}

.btn {
    display: none;
}

/* about me */
.aboutme {
    /* width: calc(25vw - 2vw); */
    display: flex;
    flex-direction: column;
}

.aboutme .infopane_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme h2 {
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.aboutme h3 {
    font-size: 4vh;
    margin: 0;
    padding: 0;
    display: block;
    user-select: none;
}

.aboutme p {
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    max-height: 0;
    margin: 0;
}

.aboutme .item:hover p {
    position: relative;
    opacity: 1;
    transition: all 0.25s cubic-bezier(1.5, 1, 1.5, 0);
    max-height: 128px;
}

.aboutme .infopane {
    /* width: calc(25vw - 2vw); */
    margin: 0 0 1vw 0;
    height: min-content;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
}

.aboutme .list {
    margin: 0 2vw 2vw 2vw;
    overflow-y: scroll;
}

.aboutme .list::-webkit-scrollbar {
    display: none;
}

.aboutme .item {
    background: linear-gradient(to right, #FF9C40, #40D8FF);
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh;
}

/* blog */

.blog {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    border-radius: 5vh;
    margin: 0 1.25vw;
    padding: 2vw 2.5vw 2.5vw 2.5vw;
}

.blog h2 {
    margin: 0.5vw 0 0.5vw 0;
    font-size: 2em;
}

.blog p {
    margin: 1vw;
    font-size: 1em;
}

.blog .words {
    height: 20vh;
    clip-path: inset(0);
}

.blog .card {
    position: relative;
    background: linear-gradient(to left, #0990B3, #FF9C40);
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 5vh;
    height: min-content;
    position: relative
}

.blog #readMore {
    width: 94%;
    height: 6vh;
    background: linear-gradient(to left, #0990B3, #FF9C40);
    opacity: 0.8;
    float: top;
    position: absolute;
    bottom: 1vh;
    z-index: 100;
}

.blog #readMore h2 {
    text-align: center;
    opacity: 1;
}

.blog .btn:checked ~ .words {
    clip-path: none;
    height: min-content;
}

/* projects */

.projects {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    border-radius: 5vh;
    /* width: 40vw; */
    margin: 0 1.25vw 2.5vw 1.25vw;
    padding: 2vw 2.5vw 0 2.5vw;
}

.projects .project_container {
    display: flex;
    flex-flow: row wrap;
    height: min-content;

}

.projects h2 {
    margin: 0.5vw 0 0.5vw 0;
    font-size: 2em;
}

.projects p {
    margin: 1vw;
    font-size: 1.5em;
    display: none;
}

.projects span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.projects img {
    width: 8vw;
    border-radius: 5vh;
    display: block;
    margin: 0 auto;
}

.projects .project_pane {
    position: relative;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    padding: 1vw;
    margin: 1vw;
    border-radius: 5vh;
    transition: 0.1s;
    width: 10vw;
    height: min-content;
}

.projects .project_pane:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.projects .btn:checked + label .project_pane p {
    display: inline;
}

.projects .btn:checked + label .project_pane {
    width: 23.5vw;
}

.projects .btn:checked + label img {
    float: left
}

.projects #showMore {
    width: 46vw;
    text-align: center;
}

.projects .btn + #showMore h2 {
    margin: 0;
}

.projects .btn:not(:checked) + #showMore ~ label .project_pane {
    display: none;
}

/* papers */
#papers .project_container {
    display: block;
    height: min-content;
}

#papers .project_pane {
    width: auto;
}

#papers .project_pane:before, #papers .project_pane:after {
    content: " ";
    display: table;
}

#papers .project_pane:after {
    clear: both
}

#papers img {
    float: left
}

/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
    /* width: calc(25vw - 2vw); */
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    border-radius: 5vh;
    padding-top: 2vw;
    height: min-content;
}

.contacts h2 {
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.contacts .contact_container {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    height: min-content;
    justify-content: center;
    align-content: center;
    margin-top: 2vw;
}

.contacts .contact {
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    width: 6vw;
    height: 6vw;
    padding: 2vh;
    border-radius: 3vw;
    background-clip: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts .contact:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.contacts span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.contacts img {
    width: 4vw;
    height: auto;
    margin: 0 auto auto auto;
    margin-bottom: 1vh;
}