* {
    font-family: 'Comfortaa', cursive;
    color: white;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #222, #888);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #f80;
}

a:active {
    color: #08f;
}

header > ul {
    margin: 0;
    padding: 0;
    height: 8vh;
    background: #888;
}

header > ul > li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 16px;
    line-height: 8vh;
}

header {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #222;
    grid-row: 3;
}

footer p {
    margin: 0;
    margin-left: calc(100vw / 5);
    line-height: calc(100vh / 8);
}

main {
    display: flex;
    justify-content: center;
}

main > div {
    width: 25vw;
    margin: 5vw;
    height: 75vh;
    background: #222;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
}

h1 {
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}

h2 {
    font-size: 4vh;
    margin: 0;
    padding: 0;
    display: block;
    user-select: none;
}

.button {
    position: relative;
    height: 10vh;
}

input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

p {
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

input:checked + h2 + p{
    display: inline;
}

.list {
    margin: 0 2vw;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    display: none;
}

.button_container {
    background: #888;
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh;
}

.button_container:hover p {
    display: inline;
    opacity: 1;
}