* {
    font-family: 'Comfortaa', cursive;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #f80;
}

a:active {
    color: #08f;
}

body {
    margin: 0;
    background: linear-gradient(to top, #B3641B, #40D8FF);
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: white;
    display: grid;
    grid-template-rows: 8vh auto auto;
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    height: 8vh;
    background: #40D8FF;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 16px;
    line-height: 8vh;
}

header {
    padding: 0;
    margin: 0;
}

.projects {
    margin: 0 5vw;
    display: grid;
    grid-template-rows: auto auto;
}

.project_pane {
    position: relative;
    background: linear-gradient(to top left, #0990B3, #FF9C40);
    padding: 1vh;
    margin: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5vh;
    transition: 0.1s;
}

.project_pane:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.picture {
    height: 25vh;
    border-radius: 5vh;
}

p {
    margin: 1vw;
    font-size: 1.5em;
}

h1 {
    margin: 1vw;
    font-size: 3em;
}

input {
    display: none;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    background-color: #B3641B;
    grid-row: 3;
}

footer p {
    margin: 0;
    margin-left: calc(100vw / 5);
    line-height: calc(100vh / 8);
}

.arrow {
    display: none;
}

@media (max-width: 450px) {
    footer {
        background-color: red;
    }

    .project_pane {
        position: relative;
        background: #222;
        padding: 1vh;
        margin: 2vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 5vh;
        transition: 0.1s;
    }

    .project_pane .picture {
        width: 68vw;
        height: 100%;
    }

    .project_pane p {
        display: none;
    }

    a:target {
        transform: rotate(180deg);
    }

    .button {
        position: relative;
        display: inline-block;
        width: 10vh;
        height: 10vh;
        z-index: 100;
    }

    input {
        display: inline;
        position: relative;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .arrow {
        position: absolute;
        display: inline;
        height: 10vh;
        transform: rotate(-90deg);
    }

    input:checked + .arrow {
        transform: rotate(90deg);
    }
}